.page__item {
    padding: 20px;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 10px;
    position: relative;
    background-color: #19191B;
    border-radius: 25px;
    padding: 15px;
}

.page__items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.info__user {
    font-weight: 500;
    width: 65px;
}


.title {
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
}